.counter {
    display: flex;
    column-gap: 21px;
    align-items: center;
}

.counterButton {
    padding: 4px 14px;
    background-color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
    user-select: none;
    cursor: pointer;
}

.counterText {
    font-weight: 500;
    font-size: 14px;
    user-select: none;
}